.contacts {
  padding-top: 41px;
}

.contacts__title {
  width: 280px;
  margin: 0 auto;
  margin-bottom: 34px;
  font-size: 24px;
  font-weight: 300;
  line-height: 29px;

  @media (min-width: $tablet-width) {
    width: 370px;
    margin-bottom: 50px;
    font-size: 40px;
    line-height: 54px;
  }

  @media (min-width: $desktop-width) {
    width: 462px;
    font-size: 50px;
    line-height: 68px;
  }
}

.contacts__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 280px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    width: 610px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    width: 940px;
  }
}

.contacts__item {
  &--phone {
    margin-bottom: 14px;
  }

  &--email {
    margin-bottom: 18px;

    &--address {
      margin-bottom: 33px;
    }
  }

  @media (min-width: $desktop-width) {
    &--phone {
      order: 0;
    }

    &--email {
      order: 2;
    }

    &--address {
      order: 1;
    }
  }
}

.contacts__subtitle {
  margin: 0;
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;

  @media (min-width: $desktop-width) {
    margin-bottom: 30px;
  }
}

.contacts__link,
.contacts__address {
  font-size: 24px;
  font-weight: 300;
  font-style: normal;
  line-height: 33px;
  color: $special-color;
}

.contacts__link {
  text-decoration: none;

  &:hover {
    color: $basic-color;
    text-decoration: underline;
  }

  &:active {
    opacity: 0.3;
  }
}

.contacts__map {
  margin: 0;
}

.contacts__map-image {
  display: block;
  width: 320px;
  height: 200px;
  margin: 0 auto;
  object-fit: cover;

  @media (min-width: $tablet-width) {
    width: 660px;
    height: 374px;
  }

  @media (min-width: $desktop-width) {
    width: 1200px;
    height: 502px;
  }
}
