.contacts {
  padding-top: 41px;

  @media (min-width: $tablet-width) {
    padding-top: 44px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 60px;
  }
}

.contacts__title {
  width: 280px;
  margin: 0 auto;
  margin-bottom: 34px;
  font-size: 24px;
  font-weight: 300;
  line-height: 29px;

  @media (min-width: $tablet-width) {
    width: 370px;
    margin-bottom: 33px;
    font-size: 40px;
    line-height: 54px;
  }

  @media (min-width: $desktop-width) {
    width: 462px;
    margin-bottom: 40px;
    font-size: 50px;
    line-height: 68px;
  }
}

.contacts__list {
  width: 280px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 32px;
    row-gap: 41px;
    width: 610px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    width: 940px;
  }
}

.contacts__item {
  font-size: 24px;
  font-weight: 300;
  line-height: 35px;

  &--phone {
    margin-bottom: 17px;
  }

  &--email {
    margin-bottom: 21px;
  }

  &--address {
    margin-bottom: 33px;

    @media (min-width: $tablet-width) {
      grid-column: 1 / -1;
    }

    @media (min-width: $desktop-width) {
      grid-column: 2 / 2;
    }
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    &--phone {
      order: 0;
    }

    &--email {
      order: 2;
    }

    &--address {
      order: 1;
    }
  }
}

.contacts__subtitle {
  margin: 0;
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;

  @media (min-width: $desktop-width) {
    margin-bottom: 19px;
  }
}

.contacts__link {
  display: block;
  margin-top: -2px;
  color: $special-color;
  text-decoration: none;

  &:hover {
    color: $basic-color;
    text-decoration: underline;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    margin-top: 2px;
  }
}

.contacts__address {
  margin-top: -3px;
  font-style: normal;
  color: $special-color;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    margin-top: 1px;
  }
}

.contacts__map {
  margin: 0;

  @media (min-width: $tablet-width) {
    margin-top: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 17px;
  }
}

.contacts__map-image {
  display: block;
  width: 320px;
  height: 200px;
  margin: 0 auto;
  object-fit: cover;

  @media (min-width: $tablet-width) {
    width: 660px;
    height: 374px;
  }

  @media (min-width: $desktop-width) {
    width: 1200px;
    height: 502px;
  }
}
