.contest-form {
  font-size: 18px;
}

.contest-form__group {
  padding-top: 38px;

  &--personal-data {
    padding-top: 5px;
  }
}

.contest-form__fieldset {
  margin-left: 20px;
  margin-right: 20px;
  padding: 0;
  padding-bottom: 20px;
  border: 2px solid #e5e5e5;

  @media (max-width: $mobile-width-only) {
    border: none;
  }

  &--personal-data {
    border: none;
  }
}

.contest-form__group--grey-back {
  @media (max-width: $mobile-width-only) {
    background-color: #f2f2f2;
  }
}

.contest-form__group-title {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 40px;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: $special-color;

  &--contact-data {
    @media (max-width: $mobile-width-only) {
      display: none;
    }
  }
}

.contest-form__textarea {
  width: 280px;
  min-height: 200px;
  margin-top: -24px;
  padding-top: 13px;
  padding-right: 20px;
  padding-left: 20px;
  font: inherit;
  border-width: 2px;
  border-style: solid;
  border-color: #e5e5e5;
}

.contest-form__button {
  margin-top: 20px;
}

.contest-form__star {
  color: $special-color;
}
