.download-app {
  background-color: #1d2631;
}

.download-app__inner {
  padding-top: 28px;
  padding-bottom: 38px;
}

.download-app__text {
  margin: 0;
  font-weight: 300;
  line-height: 24px;
  color: #ffffff;

  @media (min-width: $tablet-width) {
    font-size: 18px;
  }
}
