.download-app {
  background-color: #1d2631;
}

.download-app__inner {
  padding-top: 30px;
  padding-bottom: 35px;
  background-color: #1d2631;

  @media (min-width: $tablet-width) {
    max-width: 300px;
    margin-left: 20px;
    background-color: transparent;
  }
}

.download-app__button {
  margin-bottom: 32px;

  @media (min-width: $desktop-width) {
    margin-bottom: 69px;
  }
}

.download-app__text {
  width: 280px;
  margin: 0 auto;
  margin-top: 22px;
  font-weight: 300;
  line-height: 24px;
  color: #ffffff;

  @media (min-width: $tablet-width) {
    width: 300px;
    font-size: 18px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 52px;
  }
}
