.editor-form {
  padding-top: 20px;
  padding-bottom: 41px;
  background-color: #f2f2f2;
}

.editor-form__tools {
  margin: 0;
  padding: 0;
  list-style: none;
}

.editor-form__button-tool {
  border: none;
  background-color: transparent;
}

.editor-form__range {
  display: none;
}
