.features-app {
  color: $basic-color;
  background-color: #f2f2f2;
}

.features-app__header {
  padding-top: 40px;
  padding-bottom: 70px;
  background-color: #ffffff;

  @media (min-width: $tablet-width) {
    padding-top: 58px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 65px;
    padding-bottom: 1px;
  }
}

.features-app__text {
  max-width: 280px;
  margin: 0 auto;
  font-size: 24px;
  font-weight: 300;
  line-height: 29px;

  &:first-of-type {
    margin-bottom: 29px;
  }

  @media (min-width: $tablet-width) {
    max-width: 660px;
    font-size: 40px;
    line-height: 54px;

    &:first-of-type {
      margin-bottom: 0;
    }
  }

  @media (min-width: $desktop-width) {
    max-width: 960px;
    font-size: 50px;
    line-height: 68px;
  }
}

.features-app__list {
  min-height: 828px;
  margin: auto;
  padding-top: 53px;
  background-image: url("../img/iphone-screen-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: center bottom;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    max-width: 640px;
    min-height: 446px;
    padding-top: 36px;
    background-image: none;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 960px;
  }
}

.features-app__item {
  width: 280px;

  @media (max-width: $mobile-width-only) {
    margin: 0 auto;
  }

  &--show-all-resolutions {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 2px;

    &::before {
      content: "";
      position: absolute;
      bottom: -18px;
      right: 350px;
      width: 268px;
      height: 481px;
      background-image: url("../../img/iphone-screen-3-tablet@1x.png");
      background-repeat: no-repeat;

      @media (max-width: $mobile-width-only) {
        display: none;
      }

      @media (min-width: $desktop-width) {
        display: none;
      }
    }
  }

  @media (min-width: $tablet-width) {
    width: 310px;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    text-align: center;
  }
}

.features-app__img {
  display: none;

  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    display: block;
    margin: 0 auto;
    margin-bottom: 53px;
  }
}

.features-app__title {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #000000;

  @media (min-width: $desktop-width) {
    width: 240px;
    margin: 0 auto;
    font-size: 30px;
    line-height: 30px;
  }
}

.features-app__description {
  margin: 0;
  margin-top: 13px;
  margin-bottom: 30px;
  line-height: 24px;

  @media (min-width: $desktop-width) {
    width: 249px;
    margin: 22px auto;
    font-size: 18px;
    line-height: 30px;
  }
}
