.field {
  margin-bottom: 23px;
  font-size: 18px;
  font-weight: 400;
}

.field__caption {
  display: block;
  margin-left: 23px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: left;
  color: $special-color;
}

.field__data {
  display: block;
  width: 276px;
  margin: 0 auto;
  padding-top: 15px;
  padding-right: 20px;
  padding-bottom: 15px;
  padding-left: 20px;
  font: inherit;
  border-width: 2px;
  border-style: solid;
  border-color: #e5e5e5;
  border-radius: 1px;
}
