.field {
  display: flex;
  flex-direction: column;
  text-align: left;

  @media (min-width: $tablet-width) {
    &--inline {
      flex-direction: row;
      align-items: center;
    }

    &--contact-data {
      position: relative;
      flex-direction: column-reverse;

      @media (min-width: $tablet-width) {
        &::before {
          content: "";
          position: absolute;
          top: 2px;
          right: 2px;
          width: 57px;
          height: 60px;
          background-color: #e5e5e5;
        }
      }
    }
  }
}

.field__caption {
  display: block;
  margin-left: 23px;
  margin-bottom: 5px;
  font-size: 14px;
  text-transform: uppercase;
  text-align: left;
  color: $special-color;

  @media (min-width: $tablet-width) {
    margin: 0;
    margin-right: 18px;

    &--contact-data {
      margin-bottom: 0;
      margin-top: 10px;
      margin-left: 18px;
    }
  }
}

.field__data {
  position: relative;
  display: block;
  width: 100%;
  padding-top: 15px;
  padding-right: 20px;
  padding-bottom: 15px;
  padding-left: 20px;
  font: inherit;
  background-color: transparent;
  border-width: 2px;
  border-style: solid;
  border-color: #e5e5e5;
  border-radius: 1px;

  &:hover {
    border-color: $basic-color;
  }

  &:active,
  &:focus {
    border-color: $special-color;
    outline: none;
  }
}

.field-group {
  @media (min-width: $desktop-width) {
    &:nth-child(2),
    &:nth-child(4),
    &:nth-child(6) {
      order: 2;
    }

    &--radio {
      order: 2;
    }
  }
}

.field-group__caption {
  position: relative;
  display: inline-flex;
  align-items: center;
  user-select: none;
  white-space: nowrap;
  cursor: pointer;

  &--checkbox {
    &::before {
      content: "";
      width: 39px;
      height: 39px;
      margin-right: 20px;
      background-color: #ffffff;
      border-width: 2px;
      border-style: solid;
      border-color: #e5e5e5;
      border-radius: 1px;
    }

    &::after {
      content: "";
      position: absolute;
      left: 9px;
      top: 11px;
      width: 21px;
      height: 10px;
      border-left-width: 2px;
      border-left-style: solid;
      border-left-color: $special-color;
      border-bottom-width: 2px;
      border-bottom-style: solid;
      border-bottom-color: $special-color;
      transform: rotate(-45deg);
    }

    &:hover::before {
      border-color: $basic-color;
    }

    &:active::before,
    &:focus::before {
      border-color: $special-color;
    }
  }

  &--radio {
    &::before {
      content: "";
      width: 41px;
      height: 41px;
      margin-right: 29px;
      background-color: #ffffff;
      border-width: 2px;
      border-style: solid;
      border-color: #e5e5e5;
      border-radius: 50%;

      @media (min-width: $tablet-width) {
        margin-right: 20px;
      }
    }

    &::after {
      content: "";
      position: absolute;
      left: 13px;
      top: 13px;
      width: 15px;
      height: 15px;
      background-color: $special-color;
      border-radius: 50%;
    }

    &:hover::before {
      border-color: $basic-color;
    }

    &:active::before,
    &:focus::before {
      border-color: $special-color;
    }
  }
}

.field-group__checkbox + .field-group__caption::after,
.field-group__radio + .field-group__caption::after {
  content: none;
}

.field-group__checkbox:checked + .field-group__caption::after,
.field-group__radio:checked + .field-group__caption::after {
  content: "";
}

.field__icon {
  position: absolute;
  top: 22px;
  right: 19px;
  fill: $special-color;
  z-index: 2;

  &--mail {
    top: 25px;
    right: 20px;
  }

  @media (max-width: $mobile-width-only) {
    display: none;
  }
}
