.field {
  display: flex;
  flex-direction: column;
  text-align: left;

  @media (min-width: $tablet-width) {
    &--inline {
      flex-direction: row;
      align-items: center;
    }

    &--contact-data {
      flex-direction: column-reverse;
    }
  }
}

.field__caption {
  display: block;
  margin-left: 23px;
  margin-bottom: 5px;
  font-size: 14px;
  text-transform: uppercase;
  text-align: left;
  color: $special-color;

  @media (min-width: $tablet-width) {
    margin: 0;
    margin-right: 20px;

    &--contact-data {
      margin-bottom: 0;
      margin-top: 10px;
      margin-left: 18px;
    }
  }
}

.field__data {
  display: block;
  width: 100%;
  padding-top: 15px;
  padding-right: 20px;
  padding-bottom: 15px;
  padding-left: 20px;
  font: inherit;
  border-width: 2px;
  border-style: solid;
  border-color: #e5e5e5;
  border-radius: 1px;
}

.field-group {
  @media (min-width: $desktop-width) {
    &:nth-child(2),
    &:nth-child(4),
    &:nth-child(6) {
      order: 2;
    }
  }
}

.field-group__caption {
  &--checkbox {
    padding-left: 57px;
  }

  &--radio {
    position: relative;
    display: block;
    padding-left: 68px;
    cursor: pointer;
  }

  @media (min-width: $tablet-width) {
    &--checkbox {
      padding-left: 117px;
    }

    &--radio {
      padding-left: 120px;
    }
  }

  @media (min-width: $desktop-width) {
    &--checkbox {
      padding-left: 57px;
    }
  }
}
