.logo {
  color: #ffffff;

  &--footer {
    color: $basic-color;
  }

  &[href]:hover,
  &[href]:focus {
    color: $special-color;
  }

  &[href]:active {
    color: #ffffff;
    opacity: 0.3;
  }

  &--footer[href]:active {
    color: $basic-color;
    opacity: 0.3;
  }
}

.logo__img {
  display: inline-block;
  vertical-align: middle;
  fill: currentColor;

  &--tablet,
  &--desktop,
  &--desktop-footer {
    display: none;
  }

  @media (min-width: $tablet-width) {
    &--mobile {
      display: none;
    }

    &--tablet {
      display: inline-block;
      vertical-align: middle;
    }
  }

  @media (min-width: $desktop-width) {
    &--tablet,
    &--mobile-footer {
      display: none;
    }

    &--desktop {
      display: inline-block;
      vertical-align: super;
    }

    &--desktop-footer {
      display: inline-block;
      vertical-align: middle;
    }
  }
}
