.page-header {
  position: relative;
  background-color: rgba(#000000, 0.3%);

  &--opened {
    background-color: $basic-color;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 130px;
    padding-right: 130px;
  }
}

.page-header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 66px;
  padding-top: 15px;
  padding-bottom: 15px;


  @media (min-width: $tablet-width) {
    min-height: 110px;
  }
}

.page-header__logo {
  margin-left: 20px;
}

.page-header__toggle {
  margin-right: 20px;

  @media (min-width: $desktop-width) {
    display: none;
  }
}
