.page__footer {
  padding-top: 40px;
  padding-bottom: 40px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 620px;
    margin: 0 auto;
    padding-top: 37px;
  }

  @media (min-width: $desktop-width) {
    min-width: 940px;
    padding-top: 70px;
    padding-bottom: 75px;
  }
}

.page-footer__logo {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 38px;

  @media (min-width: $tablet-width) {
    margin-bottom: 15px;
  }
}

.page-footer__social {
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    margin: 0;
    margin-right: 15px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 0;
  }
}

.page-footer__copyright {
  @media (min-width: $desktop-width) {
    margin-top: -5px;
  }
}
