.price-table {
  width: 840px;
  margin: 0 auto;
  margin-bottom: 30px;

  @media (max-width: $mobile-width-only) {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }

  @media (min-width: $tablet-width) {
    width: 620px;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    width: 940px;
  }
}

.price-table__cell {
  padding-top: 10px;
  padding-bottom: 27px;
  text-align: center;
  background-color: $basic-color;
  border-width: 2px;
  border-style: solid;
  border-color: $basic-color;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #e5e5e5;

  &--left {
    border-radius: 1px 0 0 0;
  }

  &--right {
    border-right-width: 2px;
    border-right-style: solid;
    border-right-color: $basic-color;
    border-radius: 0 1px 0 0;
  }

  &--label-hit {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: -2px;
      left: -2px;
      width: 74px;
      height: 74px;
      background-image: url('data:image/svg+xml,%3Csvg width="74" height="74" viewBox="0 0 74 74" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M74 0L37 37L0 74V41L41 0H74Z" fill="%23D22856"/%3E%3C/svg%3E%0A');
      background-repeat: no-repeat;
      z-index: 10;

      @media (min-width: $tablet-width) {
        width: 61px;
        height: 61px;
        background-image: url('data:image/svg+xml,%3Csvg width="61" height="61" viewBox="0 0 61 61" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M61 0L30.5 30.5L0 61V33.7973L33.7973 0H61Z" fill="%23D22856"/%3E%3C/svg%3E%0A');
      }

      @media (min-width: $desktop-width) {
        width: 74px;
        height: 74px;
        background-image: url('data:image/svg+xml,%3Csvg width="74" height="74" viewBox="0 0 74 74" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M74 0L37 37L0 74V41L41 0H74Z" fill="%23D22856"/%3E%3C/svg%3E%0A');
      }
    }

    &::before {
      content: "Хит";
      position: absolute;
      top: 11px;
      left: 14px;
      transform: rotate(-45deg);
      font-weight: 400;
      color: #ffffff;
      text-transform: uppercase;
      z-index: 11;

      @media (min-width: $tablet-width) {
        top: 8px;
        left: 5px;
      }

      @media (min-width: $desktop-width) {
        top: 11px;
        left: 16px;
      }
    }
  }

  @media (max-width: $mobile-width-only) {
    &--show-tablet {
      display: none;
    }
  }

  @media (min-width: $tablet-width) {
    width: 154px;
    padding-bottom: 8px;
  }

  @media (min-width: $desktop-width) {
    width: 235px;
    padding-top: 15px;
    padding-bottom: 20px;
    padding-left: 26px;
  }
}

.price-table__title {
  margin: 0;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;

  @media (min-width: $tablet-width) {
    margin-bottom: -3px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 1px;
    font-size: 18px;
  }
}

.price-table__price {
  margin: 0;
  margin-top: -3px;
  font-size: 18px;
  font-weight: 300;
  color: #ffffff;

  @media (min-width: $desktop-width) {
    font-size: 24px;
  }
}

.price-table__feature {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $tablet-width) {
    justify-content: center;
  }
}

.price-table__text {
  margin: 0;
  font-size: 14px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    display: none;

    &--show-tablet {
      display: block;
      text-transform: none;
    }
  }

  @media (min-width: $desktop-width) {
    font-size: 18px;
  }
}
