.reviews {
  position: relative;
  margin-top: -44px;
  padding-top: 41px;
  padding-bottom: 30px;
  background-color: #ffffff;
  z-index: 2;

  @media (min-width: $tablet-width) {
    margin-top: 0;
    padding-top: 34px;
    padding-bottom: 6px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 193px;
  }
}

.reviews__item {
  width: 280px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    align-items: center;
    width: 620px;
    margin-bottom: 23px;
  }

  @media (min-width: $desktop-width) {
    width: 688px;
  }
}

.reviews__author-name {
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
  color: #000000;

  @media (min-width: $tablet-width) {
    font-size: 20px;
  }

  @media (min-width: $desktop-width) {
    font-size: 24px;
  }
}

.reviews__author-data {
  margin: 0;

  @media (max-width: $mobile-width-only) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    font-size: 18px;
  }
}

.reviews__text {
  margin: 0;
  margin-top: 11px;
  margin-bottom: 21px;

  @media (min-width: $tablet-width) {
    margin-bottom: 36px;
    font-size: 18px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 50px;
  }
}

.reviews__toggles {
  @media (min-width: $desktop-width) {
    display: none;
  }
}
