.reviews {
  position: relative;
  margin-top: -43px;
  padding-top: 41px;
  padding-bottom: 30px;
  background-color: #ffffff;
  z-index: 2;

  @media (min-width: $tablet-width) {
    margin-top: 0;
    padding-top: 36px;
    padding-bottom: 6px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 72px;
  }
}

.reviews__icon {
  fill: #efefef;

  @media (max-width: 1199px) {
    display: none;
  }
}

.reviews__item {
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    align-items: center;
    margin-bottom: 25px;
  }

  @media (min-width: $desktop-width) {
    width: 800px;
    margin-top: 29px;
  }
}

.reviews__author-name {
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
  color: #000000;

  @media (min-width: $tablet-width) {
    font-size: 20px;
  }

  @media (min-width: $desktop-width) {
    font-size: 24px;
  }
}

.reviews__author-data {
  margin: 0;
  margin-top: -3px;

  @media (max-width: $mobile-width-only) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    font-size: 18px;
  }
}

.reviews__text {
  margin: 0;
  margin-top: 11px;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 36px;
    font-size: 18px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 36px;
  }
}

.reviews__toggles {
  @media (min-width: $desktop-width) {
    display: none;
  }
}
