.table {
  border-spacing: 0;
  border-collapse: collapse;
}

.table__body {
  background-color: #ffffff;
}

.table__cell {
  padding: 0;
  padding-top: 15px;
  padding-right: 17px;
  padding-bottom: 14px;
  padding-left: 21px;
  border-width: 2px;
  border-style: solid;
  border-color: #e5e5e5;
  border-top: none;
  text-align: left;

  @media (min-width: $tablet-width) {
    padding-top: 8px;
    padding-right: 23px;
    padding-bottom: 7px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 14px;
    padding-bottom: 15px;

    &:first-child {
      padding-left: 20px;
    }
  }
}
