.upload-photo {
  height: 400px;
}

.upload-photo__upload-button {
  display: none;
}

.upload-photo__img {
  width: 280px;
  height: 374px;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    width: 300px;
    height: 400px;
  }
}
