.user-post {
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    width: 300px;
  }

  &--main-photo {
    width: 100%;
  }
}

.user-post__link {
  display: block;
}

.user-post__label {
  position: relative;
  max-width: 320px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    max-width: 660px;
  }

  @media (min-width: $desktop-width) {
    max-width: 960px;
  }
}

.user-post__label-text {
  position: absolute;
  top: 0;
  right: 20px;
  width: 140px;
  margin: 0;
  padding-top: 6px;
  padding-bottom: 6px;
  font-weight: 700;
  font-size: 12px;
  line-height: 24px;
  color: #ffffff;
  text-transform: uppercase;
  background-color: $special-color;
  z-index: 10;

  @media (min-width: $tablet-width) {
    top: 58px;
  }

  @media (min-width: $desktop-width) {
    top: 54px;
    right: 10px;
  }
}

.user-post__img {
  display: block;
  width: 100%;

  &--main-photo {
    @media (min-width: $tablet-width) {
      min-height: 509px;
    }
  }
}

.user-post__comment {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 19px;
  padding-right: 35px;
  padding-bottom: 19px;
  padding-left: 17px;
  line-height: 24px;
  color: $basic-color;
  text-align: left;
  background-color: #f2f2f2;

  @media (min-width: $tablet-width) {
    min-height: 155px;
    margin: 0;
    padding-top: 23px;
    padding-right: 30px;
    padding-bottom: 24px;
    padding-left: 30px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 24px;
    padding-left: 27px;
  }

  &--main-photo {
    width: 280px;
    margin: 0 auto;
    padding-right: 10px;

    @media (min-width: $tablet-width) {
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: flex-start;
      width: 620px;
      min-height: 121px;
      padding-bottom: 0;
      padding-right: 29px;
    }

    @media (min-width: $desktop-width) {
      width: 940px;
      min-height: 97px;
      padding-left: 27px;
      padding-top: 25px;
    }
  }
}

.user-post__author {
  display: flex;
  flex-wrap: wrap;
}

.user-post__author-name {
  max-width: 250px;
  margin: 0;
  margin-right: 3px;
  font-size: 14px;
}

.user-post__time {
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
}

.user-post__message {
  margin: 0;
  margin-bottom: 10px;

  &--main-photo {
    @media (min-width: $tablet-width) {
      order: 2;
      margin-bottom: 25px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 22px;
    }
  }
}

.user-post__likes {
  display: flex;
  align-items: center;
  margin-top: auto;

  @media (min-width: $tablet-width) {
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  &--main-photo {
    @media (min-width: $tablet-width) {
      margin-top: 0;
      order: 1;
    }
  }
}

.user-post__heart {
  position: relative;
  display: block;
  width: 13px;
  height: 12px;
  color: $special-color;
  border: none;
  background-color: transparent;
  cursor: pointer;

  &:hover,
  &:focus {
    color: $basic-color;
    outline: none;
  }

  &:active {
    opacity: 0.3;
  }
}

.user-post__heart-icon {
  position: absolute;
  top: 0;
  left: 0;
  fill: currentColor;
}

.user-post__likes-number {
  margin-left: 18px;
  font-size: 12px;
  text-transform: uppercase;
  color: $special-color;

  @media (min-width: $tablet-width) {
    margin-top: 2px;
    margin-left: 0;
    margin-right: 17px;
  }
}
